/* GOOGLE Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    ---main-content-color: #fff;
    ---card-content-color: hsl(235, 46%, 20%);
    --card-content-hover-color:hsl(236, 41%, 34%);
    --font-secondary-color:hsl(236, 100%, 87%);

    --work-card-color: hsl(15, 100%, 70%);
    --play-card-color: hsl(195, 74%, 62%);
    --study-card-color: hsl(348, 100%, 68%);
    --exercise-card-color: hsl(145, 58%, 55%);
    --social-card-color: hsl(264, 64%, 52%);
    --selfcare-card-color: hsl(43, 84%, 65%);
    
}
/* HTML Reset */
body {
    background: #0E1323;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    height: 100%;
}
h2 {
    font-weight: 500;
}
ul {
    list-style: none;
}
/* Over All Dashboard */
.dashboard-container {
    display: grid;
    color: var(---main-content-color);
    grid-template-rows: 203px repeat(6, 10rem);
    row-gap: 1.5rem;
    margin: 1.5rem;
}
.dashboard-container > div {
    border-radius: 1rem;
    overflow: hidden;
}

/* Report Info Card*/

.report-header {
    background: var(---card-content-color);
}
.owner-info {
    background: hsl(246, 80%, 60%);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    height: 133px;
}
.name-container > h1 {
    font-size: 2.5rem;
    font-weight: 300;
}
.name-container > span {
    color: var(--font-secondary-color);
    font-size: 1rem;
    font-weight: 400;
}
.profile-image {
    border: 3px solid var(---main-content-color);
    border-radius: 5rem;
    height: 4rem;
    width: 4rem;
}
.report-filter-option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    color:hsla(235, 45%, 61%, 1); 
}

.filter-item {
    color: var(--font-secondary-color);
    text-decoration: none;
}
.report-filter-option li:hover {
    color: var(---main-content-color);
}
.filter-active {
    color: var(---main-content-color);
}
.filter-active::after {
    height: 2px;
    background-color: white;
}

/* Card Top Banner */
.card-banner {
    height: 3rem;
    text-align: end;
    position: relative;
    top: -10px;
    padding-right: 17.5px;
}
.work-card {
    background: var(--work-card-color);   
}
.play-card {
    background: var(--play-card-color);
}
.study-card {
    background: var(--study-card-color);
}
.exercise-card {
    background: var(--exercise-card-color);
}
.social-card {
    background: var(--social-card-color);
}
.selfcare-card {
    background: var(--selfcare-card-color);
}
/* Card */

.card-content {
    background-color: var(---card-content-color);
    cursor: pointer;
    position: relative;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 1.75rem 1.5rem;
}
.card-content:hover {
    background-color: var(--card-content-hover-color);
}
.card-content > h2 {
    font-size: 1em;
    font-weight: 500;
}
.current {
    font-size: 2rem;
    font-weight: 300;
}
.more-info-tooltip {
    display: flex;
    justify-self: end;
    /* position: absolute;
    right: 1.5rem;
    top: 0.5rem; */
}
.more-info-tooltip:hover > img {
    filter: brightness(0) invert(1);
}
.previous {
    color: var(--font-secondary-color);
    font-size: .9375rem;
    font-weight: 400;
    justify-self: end;
}
.report-type {
    text-transform: capitalize;
}

@media screen and (min-width: 1024px) {
    .dashboard-container {
        transition: 1s;
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(255px, 20%));
        grid-template-rows: repeat(auto-fit, 245px);
        gap: 30px;
        height: calc(95vh - 1rem);
    }

    .report-header {
        grid-row: 1 / span 3;
    }
    .profile-image {
        width: 5.25rem;
        height: 5.25rem;
    }
    .owner-info {
        border-radius: 1rem;
        align-items: unset;
        justify-content: unset;
        gap: 43px;
        flex-direction: column;
        height: 354px;
        padding: 2.5rem 2rem;
    }
    .report-filter-option {
        height: 10.1rem;
        justify-content: space-evenly;
        align-items: baseline;
        flex-direction: column;
        padding-left: 2rem;
    }

    .card-content {
        height: 205px;
        padding: 2rem 1.5rem;
    }
    .current {
        grid-column: 1/-1;
        margin-top: 1.5rem;
    }
    .previous {
        grid-column: 1/-1;
        justify-self: unset;
        margin-top: 0.5rem;
    }
}
@media screen and (min-width: 1158px ) {
    .report-header {
        grid-row: 1/ span 2;
    }
}